.rb{
    margin-bottom: 60px;
}









@media (max-width: 768px)
{
.ascrd-10{
    width: 350px!important;
}
.h-10{
    font-size: 12px!important;
}
.h-10::placeholder{
font-size: 12px;
}
.ip-10{
    width: 122px!important;
    height: 25px!important;

}
.er-msg-10{
    font-size: 10px;
}
.mobile-pic-matter {
        display: flex;
        align-items: center;
         margin-top: 0;
        padding-top: 0;
    }

    .cnf-d-10
    {
        font-size: 20px!important;
    }
    .g{
        margin-left: 30px;
        margin-top: 0px;
    } 
    .rb{
    margin-bottom: 10px;
}
.pic-10{
    width: 50px;
    height: auto;
}

.sres-10{
    font-size: 10px!important;
    padding: 5px 7px!important;
}
.sa1-10{
    font-size: 7px!important;
     padding: 5px 7px!important;
    
}
.sa1-gp-10{
    margin-left: 5px!important; 
}


}
.sa1-gp-10{
    margin-left: 15px;

}

/*
https://dtsbbnycdqtin.cloudfront.net/api/m/s/saverecord*/