:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
 /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;*/
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.display-block{
    display: block !important;
}
.display-none
{
    display:none !important;
}

.logo
{
    width: 150px;
    height: auto;
}
.search-dropdown{
    position:absolute;
    width:100%;
    background-color:#ffffff;
    z-index:1000;
    border:1px solid #e5e5e5;
    top: 37px;
    padding:10px

}
.productcard{
    width:200px;
    height:auto;
}

.amazon-pointer{
    cursor:pointer;
    
    
}
.btn:hover {
    background-color: #0056b3;
  }

  .img-single
  {
    width:500px;
    height:auto;
  }
 
  .profile_pic1
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;   /* Optional */
    margin-bottom: 10px;
    width:150px;
    height:auto;
    border-radius: 5%
  }
  .profile_pic3
  {
    display: block;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 10px;   /* Optional */
    margin-bottom: 10px;
    width:250px;
    height:350px;
    border-radius: 1%
  }

  .profile_pic-std
  {
     display: block;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 10px;   /* Optional */
    margin-bottom: 10px;
    width:250px;
    height:350px;
    border-radius: 1%
     
  }
  .profile_pic4
  {
    display: block;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 10px;   /* Optional */
    margin-bottom: 10px;
    width:270px;
    height:350px;
    border-radius: 1%
  }
  .dance11
  {
     display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;   /* Optional */
    margin-bottom: 10px;
    width:280px;
    height:auto;
    border-radius: 5%

  }
  .sports11
  {
     display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;   /* Optional */
    margin-bottom: 10px;
    width:380px;
    height:auto;
    border-radius: 5%

  }
  .std_rec_add
  {
     display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;    
    margin-bottom: 10px;
    width:auto;
    height:auto;
    border-radius: 5%

  }
  .std_rec_add1 
  {
    display: inside;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 2px;    
    margin-bottom: 2px;
    width: auto;
    height:40px;
    border-radius: 5%

  }
  .std_rec_add1_Address
  {
    display: inside;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 2px;    
    margin-bottom: 2px;
    width: auto;
    height:80px;
    border-radius: 5%

  }
  .std_rec_add11
  {
    display: block;
    margin-left: 0px;
    margin-right: 50px;
    margin-top: 2px;    
    margin-bottom: 2px;
    width: auto;
    height:40px;
    border-radius: 15%px

  }
  .compact-table {
  font-size: 15px;         /* smaller text */
  border-collapse: collapse;
  width: 100%;
  table-layout:auto;
}
.compact-table th,
.compact-table td {
  padding: 2px 2px;        /* less padding = more compact */
  border: 1px solid #ccc;
  vertical-align: middle;
  text-align: left;
  word-break: break-word;  /* wrap long text */
  white-space: nowrap;
   height: 10px;
  vertical-align: middle;
}




.school-title {
    margin-left: 370px;
    margin-top: 55px;
    font-size: 70px;
}

.std-code-section {
    margin-left: 1070px;
}

.std-code-title {
    font-size: 30px; 
}

.std-code-input {
    width: 200px;
}
.std-code-er-clr{
  color:red
  
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 30px;
}

.user-greeting {
    display: flex;
    gap: 5px;
}

.hm-lg {
    display: flex;
    gap: 5px;
}
.flex-gried {
    display: flex;
}

.hm-lg-button{
  margin-left: auto;
}
 .std-code-section-logout {
        margin-left: 0;
        text-align: center;
    }

    .button-area {
    margin-left: auto;
    margin-right: 10px;
}
    .pic-m{
        margin-top: 70px!important;
      }

       .mobile-card-9{

         width: 200px !important; 

       }
       .c-b-9{
         margin-bottom: 15px;
       }


      


      

@media (max-width: 768px) {

    .school-title {
        margin-left: 45px;
        margin-top: 25px;
        font-size: 35px;
    }

     .std-code-section {
        margin-left: auto;
        
    }
    .std-code-er-clr{
  color:red;
  margin-left:60px !important;
  
      }
   

    .std-code-title {
        font-size:14px !important;
        margin-left: 240px !important;
        

        
    }

    .std-code-input {
        width: 120px !important;
        height:25px ;
         margin-left: 230px !important; 
         font-size: 10px;
        
    }
    .snf{
       margin-left: 135px !important;
       color: red;
       margin-top:1px!important ;
       font-size: 5px!important;

    }
    .sf{

      margin-left: 220px !important;
       color: green;

    }
    .std-code-input-h
    {
     margin-top:150px!important ;

    }
      
    .hm-lg
    {
     margin-top:50px!important ;
    }
    .user-actions {
        gap: 15px;
    }

    .hm-lg-button {
       font-size: 15px !important;
        padding: 2px 5px !important;
    }

    .hm-lg-card-button {
       font-size: 10px;
        padding: 10px 10px;
        white-space: nowrap;
    }

    .profile_pic3
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;   /* Optional */
    margin-bottom: 10px;
    width:100px;
    height: 100px;
   object-fit: cover;
    border-radius: 5% 
  }

  .pic-m{
    margin-top: 25px!important;
  }



   .mobile-small {
        font-size: 18px;
        margin-left: 30px;
        margin-top: 5px;
       
    }
    .mobile-hide {
        display: none;
    }
    .mobile-photo-data {
        display: flex;
    }

    /*-----------------------------------------------*/
    /*  col-12 col-md-4   */

    .mobile-small {
        font-size: 18px; 
        margin-left: 30px;
        margin-top: 5px; 
    }
     .mobile-card {
        width: 130px !important;
    }
    .c2
    {
      margin-top: 35px!important;
      margin-left: 10px!important;
     

    }
    .c21
    {
      
       
    }
    .profile_pic1 {
      
        width: 80px !important;
        height: 100px !important;
    }
    .card-row {
        column-gap: 10px;
    }
    .hm-lg-button-c {
       font-size: 13px !important;
        padding: 2px 4px !important;
        margin-bottom: 10px;
    }
    .mobile-small {
        font-size: 12px; 
        margin-top: 5px;
       
    }
    .cd-t{
      font-size: 15px; 
    }
    .profile_pic1-cd-sm{
       width: 40px !important;
        height: 50px !important;

    }

    .mobile-card-9 {
        width: 90px !important;
    }
    .gap-9{
      margin-left: 5px!important;
    }

    .c-pc-9{
      margin-top: 4px;
      margin-left: 20px;

    }
    .b-9{
      font-size: 7px !important;
        padding: 5px 5px !important;
        margin-bottom: 10px!important;
    }
    .u-9{
      margin-top: 2px;
    }
    .c-9{
       font-size: 20px !important;
    }




    /*-------------------------------------------------*/
    .mrgt{
      margin-top: 35px!important;
      margin-left: 25px!important;
     
      
    }
    
    .mrgs-c{
      
      margin-left: 30px!important;
    }

    .profile_pic1 {
      
        width: 80px !important;
        height: 100px !important;
    }
    .card-row {
        column-gap: 10px;
    }

    .dspnun
    {
        display: none;
    }
     

}